{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}

	<title>Sign Up - Simntx</title>

{% endblock %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/login.css' %}">

{% endblock %}

{% block right_panel %}

	<div id = "account-container">
		<img src = "{% static 'img/lock-64.png' %}" style = "border-radius: 100%;">
		<p id = "title">Sign Up</p>
		
		<form class = "signup" id = "signup_form" method = "post" action = "{% url 'account_signup' %}">
			{% csrf_token %} 
			
			<div class = "form-field">
				<p class = "field-label">
					Name
					<span class = "required">*</span>
				</p>
				<div class = "field-inputs">
					<input id = "first_name" class = "field-input half" type = "text" name = "first_name" placeholder = "First Name" required>
					<input id = "last_name" class = "field-input half" type = "text" name = "last_name" placeholder = "Last Name" required>
				</div>
			</div>
			<div class = "form-field">
				<p class = "field-label">
					Email
					<span class = "required">*</span>
				</p>
				<input id = "id_email" class = "field-input" type = "email" name = "email" placeholder = "Email" required>
			</div>
			<div class = "form-field">
				<p class = "field-label">
					Password
					<span class = "required">*</span>
				</p>
				<input id = "id_password1" class = "field-input" type = "password" name = "password1" placeholder = "Password" required>
				<p class = "field-label">
					Password (again)
					<span class = "required">*</span>
				</p>
				<input id = "id_password2" class = "field-input" type = "password" name = "password2" placeholder = "Password" required>
			</div>
		
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
		
			<div class = "form-end">
				<input class = "form-submit" type = "submit" value = "Sign Up">
				<div class = "form-options"
					<p>
						<a href="{% url 'account_login' %}">Already have an account?</a>
					</p>
				</div>
			</div>
		</form>
	</div>
	
{% endblock %}
