@font-face {
	font-family: Roboto-Thin;
	src: url(../font/roboto/Roboto-Thin.ttf);
}
@font-face {
	font-family: Roboto-Regular;
	src: url(../font/roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto-Medium;
	src: url(../font/roboto/Roboto-Medium.ttf);
}

:root{
	--safe: 100%;
	
	--primary: #BD20FF;
	--secondary: #404040;
	--light-red: #ff6b6b;
	
	--dark-text: #404040;
	--light-text: #8c8c8c;
	--price: #46b323;
	
	--left-panel-width: 220px;
	--left-panel-margin: 30px;
}
*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	flex-direction: column;
	
	font-family: Roboto-Regular;
	
	background-color: #f9f9f9;
	
	color: var(--dark-text);
}

.safe-div{
	width: var(--safe);
	
	margin: auto;
}
.link{
	color: #3268ca !important;
}
.link.underline:hover{
	text-decoration: underline;
}
.shadow{
	box-shadow: 0 2px 8px #eee !important;
}
.divided{
	display: flex;
	justify-content: space-between;
}
.divided > div{
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.tags-container{
	display: flex;
	flex-wrap: nowrap;
}
.tag{
	display: flex;
	align-items: center;
	
	background-color: transparent;
	
	font-family: Roboto-Regular;
	font-size: 10px;
	text-transform: uppercase;
	color: var(--light-text);
}
.tag.hollow{
	background-color: white;
	
	border-width: 1px;
	border-style: solid;
}
.tag:not(:first-child){
	margin-left: 3px;
}
.tag:not(:first-child):before{
	content: '•';
	margin-right: 3px;
}
.decorated-tag{
	padding: 7px 10px;
	
	color: var(--dark-text) !important;
	
	background-color: white !important;
	
	border: 1px solid #ccc;
	
	cursor: pointer;
}
.decorated-tag:before{
	content: '' !important;
}
.decorated-tag img{
	height: 15px;
}
.decorated-tag p{
	margin-left: 4px;
}
.decorated-tag.selected{
	font-family: Roboto-Medium;
	color: var(--dark-text);
	
	border-color: black;
}

.cart-button{
	display: flex;
	align-items: center;
	justify-content: center;
	
	padding: 12px 24px;
	
	font-size: 12px;
	text-transform: uppercase;
	color: white;
}
.price{
	font-family: Roboto-Medium;
	color: var(--price);
}

#message-container{
	width: 100%;
	
	display: flex;
	
	color: white;
	
	background-color: var(--primary);
}
.message{
	padding: 5px 0;
	
	box-sizing: border-box;
}

#panels{
	width: 100%;
	
	display: flex;
	justify-content: space-between;
}
#left-panel{
	width: var(--left-panel-width);
	
	display: flex;
	flex-direction: column;
	
	margin-right: var(--left-panel-margin);
	padding-right: var(--left-panel-margin);
	
	border-right: 1px solid #ddd;
	
	box-sizing: border-box;
}
#right-panel{
	width: calc(100% - var(--left-panel-width) - var(--left-panel-margin));
}

.post{
	width: 400px;
	
	display: flex;
	flex-direction: column;
	
	padding: 20px;
	
	background-color: white;
	
	border: 1px solid #ddd;
}
.post:not(:first-child){
	margin-top: 20px;
}
.post-header{
	width: 100%;
	
	display: flex;
}
.post-vendor-image{
	width: 50px;
	height: 50px;
}
.post-info{
	display: flex;
	flex-direction: column;
	
	margin-left: 10px;
}
.post-vendor{
	font-family: Roboto-Medium;
	font-size: 18px;
}
.post-date{
	font-size: 12px;
	color: var(--light-text);
}
.post-text{
	margin-top: 10px;
}

.form-field{
	width: 100%;
	
	display: flex;
	flex-direction: column;	
}
.form-field.half{ width: 50%; }
.form-field.quarter{ width: 25%; }
.form-field.ten{ width: 10%; }
.form-field.fifteen{ width: 15%; }
.form-field.inline{
	align-items: center;
	flex-direction: row;
}
.field-label{
	font-size: 14px;
	color: var(--dark-text);
}
.field-label:not(:first-child){
	margin-top: 10px;
}
.field-text{
	font-size: 14px;
	color: var(--dark-text);
}
.required{
	margin-left: -2px;
	
	color: red;
}
.field-inputs{
	display: flex;
	justify-content: space-between;
}
.field-input{
	width: 100%;
	
	margin-top: 3px;
	padding: 7px;
	
	background-color: white;
	
	outline: none;
	border: 1px solid #ddd;
	
	box-sizing: border-box;
}
textarea.field-input{
	min-height: 150px;
	max-height: 400px;
	
	font-family: inherit;
	
	resize: vertical;
}
.field-input.half{ width: 50%; }
.field-input.quarter{ width: 25%; }
.field-input.ten{ width: 10%; }
.field-input.fifteen{ width: 15%; }
.field-input.half:not(:first-child){
	margin-left: 10px;
}
.field-input:focus{
	border-color: var(--primary);
}
.form-field label{
	margin-left: 3px;
}
.form-field:not(:first-child):not(#extra-options){
	margin-top: 15px;
}
.form-end{
	width: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 15px;
}
.form-options{
	display: flex;
	flex-direction: column;
	
	margin-top: 10px;
	
	font-size: 12px;
	color: var(--dark-text);
}
.form-submit{
	width: 100%;
	
	padding: 8px 16px;
	
	font-family: Roboto-Medium;
	font-size: 12px;
	color: white;
	
	text-transform: uppercase;
	
	outline: none;
	border: none;
	
	background-color: var(--primary);
	
	cursor: pointer;
	
	box-sizing: border-box;
}

.primary{ background-color: var(--primary); }
.blue{ background-color: var(--blue); }
.cart-blue{ background-color: #4285f4; }
.gold{ background-color: gold; color: black; }

.dark-text{ color: var(--dark-text); }

#content .safe-div{
	padding: 20px 0;
}

a:link{
	text-decoration: none;
	color: inherit;
}
a:visited{
	text-decoration: none;
	color: inherit;
}

@media (min-width: 576px) {
	:root {
		--safe: 100%;
	}
}

@media (min-width: 768px) {
	:root {
		--safe: 700px;
	}
}

@media (min-width: 992px) {
	:root {
		--safe: 900px;
	}
}

@media (min-width: 1200px) {
	:root {
		--safe: 1100px;
	}
}
@media (min-width: 1500px) {
	:root {
		--safe: 1300px;
	}
}