#panels{
	--left-panel-width: 275px !important;
}

#left-panel-groups{
	width: 100%;
	
	display: flex;
	flex-direction: column;
}
.left-panel-group{
	width: 100%;
	
	display: flex;
	flex-direction: column;
	
	background-color: white;
	
	border: 1px solid #ccc;
}
.left-panel-group:not(:first-child){
	margin-top: 10px;
}
.left-panel-option{
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	padding: 10px;
	
	font-size: 14px;
	color: var(--light-text);
	
	box-sizing: border-box;
}
.left-panel-option:hover{
	color: var(--dark-text);
}
.left-panel-option.selected{
	font-family: Roboto-Medium;
	color: var(--dark-text);
}
.left-panel-option img{
	height: 12px;
}
.left-panel-group a:not(:first-child){
	border-top: 1px solid #ddd;
}

.right-panel-group{
	width: 100%;
	
	display: flex;
	flex-direction: column;
	
	background-color: white;
	
	border: 1px solid #ccc;
}
.right-panel-group > div{
	padding: 20px;
	
	box-sizing: border-box;
}
.right-panel-group .header{
	width: 100%;
}
.right-panel-group .name{
	font-family: Roboto-Medium;
	font-size: 22px;
}
.right-panel-group .section{
	width: 100%;
}
.right-panel-group .section:not(:nth-child(2)){
	border-top: 1px solid #ccc;
}

.section.table{
	padding: 0;
}

.data-table{
	width: 100%;
	
	border-spacing: 0;
	border-collapse: collapse; 
}
.data-table td{
	vertical-align: middle;
}
.data-table th{
	font-family: Roboto-Medium;
	font-style: unset;
	font-weight: unset;
	
	text-align: left;
}
.data-table tr{
	box-sizing: border-box;
}
.data-table tr > *{
	padding: 8px 0;
	
	box-sizing: border-box;
}
.data-table tr > *:first-child{
	padding-left: 15px;
}
.data-table tr > *:last-child{
	padding-right: 15px;
}
.data-table tr:not(.header-row){
	font-size: 14px;
	
	border-top: 1px solid #ccc;
}
.data-table tr:nth-child(2n){
	background-color: #f7f7f7;
}

.action-col{
	display: flex;
	align-items: center;
}
.action{
	--background-color: var(--light-text);
	
	padding: 5px;
	
	border-radius: 100%;
	
	box-sizing: border-box;
	
	transition: all .1s ease;
	
	cursor: pointer;
}
.action:hover{
	background-color: var(--background-color);
}
.action:hover img{
	--invert: 1;
}
.action img{
	--rotation: 0;
	--grayscale: 0;
	--brightness: 100%;
	--invert: 0;
	
	height: 16px;
	
	display: block;
	
	filter: grayscale(var(--grayscale)) brightness(var(--brightness)) invert(var(--invert));
	transform: rotate(var(--rotation));
	transition: all .1s ease;
}