#listings{
	width: var(--safe);
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
	
	padding-top: 30px;
	
	box-sizing: border-box;
}
.listing{
	height: 300px;
	
	display: flex;
	flex-direction: column;
	
	border: 1px solid #eee;
	
	box-sizing: border-box;
}
.listing-image{
	flex: 1;
	
	background-color: lightgray;
}
.listing-info{
	height: 60px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	border-top: 1px solid #eee;
}
.listing-info .tags-container{
	max-width: 75%;
}
.listing-info > p{
	font-family: Roboto-Medium;
}