#image-gallery{
	height: 300px;
	
	max-width: 50%;
	
	display: flex;
	flex-direction: column;
	flex: 3;
	
	border: 1px solid #ddd;
	
	margin-right: 50px;
	
	box-sizing: border-box;
	
	position: relative;
	
	transition: all .5s ease;
}
#gallery{
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	
	visibility: hidden;
	overflow: hidden;
}
#gallery-buttons{
	width: 100%;
	height: 100%;
	
	display: flex;
	justify-content: space-between;
	
	position: absolute;
	left: 0px;
	top: 0px;
	
	z-index: 2;
}
.gallery-button{
	width: 10%;
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	opacity: .5;
	
	cursor: pointer;
	
	transition: all .2s ease;
}
#gallery-index{
	width: 100%;
	height: 25px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	
	box-sizing: border-box;
	
	z-index: 2;
}
.gallery-circle{
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background: #ccc;
	margin: 0 2px;
	cursor: pointer;
	transition: all .1s ease;
}
.selected{
	background: #888;
}

#product-info{
	flex: 4;
}
#product-name{
	font-family: Roboto-Regular;
	font-size: 24px;
}
#product-info .tags-container{
	margin: 7px 0;
}
#product-price{
	margin: 7px 0 20px 0;
	
	font-size: 18px;
	color: #116d00;
}
#desc-label{
	font-family: Roboto-Medium;
	font-size: 18px;
}
#product-desc{
	margin-top: 7px;
	
	font-size: 14px;
}
#product-options{
	display: flex;
	
	margin-top: 20px;
}

#more-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding-top: 30px;
}
#info-label{
	font-family: Roboto-Medium;
	font-size: 20px;
}
#products-container{
	width: 100%;
	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 15px;
	
	margin-top: 20px;
}
#products-container a{
	height: 150px;
	
	background-color: lightgray;
}