{% extends "with_side_panel.html" %}

{% load staticfiles %}

{% block title %}Outstanding Deliveries{% endblock %}

{% block with_side_panel_css %}

	{% block driver_css %}
	{% endblock %}

{% endblock %}

{% block left_panel %}

	<div class = "left-panel-group">
		<p class = "title">Driver Dashboard</p>
		<div class = "links">
			<a href = "{% url 'dashboards:driver' %}">
				<div class = "link {% block select_outstanding %}selected{% endblock %}">
					<div class = "link-image">
						<img src = "{% static 'img/icons/home-color-48.png' %}">
					</div>
					<p>Outstanding</p>
				</div>
			</a>
			<a href = "{% url 'dashboards:driver_page' 'current' %}">
				<div class = "link {% block select_current %}{% endblock %}">
					<div class = "link-image">
						<img src = "{% static 'img/icons/drivers-color-48.png' %}">
					</div>
					<p>Current</p>
				</div>
			</a>
			<a href = "{% url 'dashboards:driver_page' 'completed' %}">
				<div class = "link {% block select_completed %}{% endblock %}">
					<div class = "link-image">
						<img src = "{% static 'img/icons/dashboard-color-48.png' %}">
					</div>
					<p>Completed</p>
				</div>
			</a>
		</div>
	</div>

{% endblock %}

{% block right_panel %}

	<div class = "right-panel-group content-panel-container">
		<div class = "header">
			<p class = "name">Outstanding Deliveries</p>
		</div>
		<div class = "section table">
			<table class = "data-table">
				<tbody>
					<tr class = "header-row">
						<th>#</th>
						<th>Ordered</th>
						<th>Address</th>
						<th>Summary</th>
					</tr>
					
					{% for order in orders %}
						<tr>
							<td>{{ order.ref_code }}</td>
							<td>{{ order.ordered_date }}</td>
							<td>{{ order.shipping_address.street_address }}</td>
							<td class = "action-col">
								<a href = "{% url 'dashboards:order' order.ref_code %}">
									<div class = "action" title = "View">
										<img src = "{% static 'img/icons/eye-48.png' %}">
									</div>
								</a>
								<a href = "{% url 'core:set-driver' order.ref_code %}">
									<div class = "action" title = "Accept" style = "--background-color: var(--green);">
										<img src = "{% static 'img/icons/plus-48.png' %}">
									</div>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}