{% load tags %}

<div class = "follow-container">
	<input class = "vendor-slug" type = "text" value = "{{ vendor.slug }}" hidden style = "display: none;">

	{% if show_count %}
		<div class = "follow-count">
			<span style = "display: flex; align-items: baseline;">
				<p class = "follower-count">{% get_follower_count vendor %}</p>
			</span>
		</div>
	{% endif %}
	
	{% if vendor in user.userprofile.following.all %}
		<div class = "follow following">
			Following
		</div>
	{% else %}
		<div class = "follow">
			Follow
		</div>
	{% endif %}
</div>