{% load staticfiles %}

{% if vendor == True %}
	
	<div class = "listing-item vendor {% if grid_item %}grid-item{% endif %}" {% if height %}style = "height: {{ height }};"{% endif %}>
		<a class = "listing-image-container" href = "{{ item.get_absolute_url }}">
			<div class = "listing-image" {% if item.cover_image %}style = "background-image: url({{item.cover_image.url}})"{% endif %}>

			</div>
		</a>
		<div class = "listing-info">
			<div class = "listing-main">
				<span class = "listing-title">
					<a href = "{{ item.get_absolute_url }}">{{ item.title }}</a>
					{% include 'blocks/follow-container.html' with vendor=item show_count=None %}
				</span>
				<span class = "vendor-address">
					<img src = "{% static 'img/icons/location-color-48.png' %}">
					<p>{{ item.address.street_address }}</p>
				</span>
			</div>
		</div>
	</div>
	
{% else %}

	<div class = "listing-item product {% if grid_item %}grid-item{% endif %}" {% if height %}style = "height: {{ height }};"{% endif %}>
		<a class = "listing-image-container" href = "{{ item.get_absolute_url }}">
			<div class = "listing-image" style = "background-image: url({{item.image.url}})">
				
			</div>
		</a>
		<div class = "listing-info">
			<div class = "listing-main">
				<span class = "listing-title">
					<a href = "{{ item.get_absolute_url }}">
						<span>{{ item.title }}</span>
					</a>
				</span>
				<p class = "listing-price price">${{ item.price }}</p>
			</div>
			<div class = "listing-other">
				<a href = "{{ item.vendor.get_absolute_url }}">
					<p class = "listing-vendor">
						{% if show_promotions and item.promotion %}
							{% include 'blocks/promoted-tag.html' %}
						{% endif %}
						
						<span>{{ item.vendor.title }}</span></p>
				</a>
			</div>
		</div>
	</div>

{% endif %}