{% load staticfiles %}
{% load tags %}

<div class = "post content-panel">
	<input class = "post-id" type = "text" value = "{{ post.id }}" hidden>
	<input class = "comment-index" type = "text" value = "0" hidden>
	<div class = "post-header">
		<a href = "{{ post.vendor.get_absolute_url }}">
			<img class = "post-vendor-image" src = "{{ post.vendor.profile_image.url }}">
		</a>
		<div class = "post-info">
			<a href = "{{ post.vendor.get_absolute_url }}">
				<p class = "post-vendor underline">{{ post.vendor.title }}</p>
			</a>
			<a href = "{% url 'core:post' post.id %}">
				<p class = "post-date underline" title = "{{ post.posted }}">
					{% if post.promoted %}
						{% include 'blocks/promoted-tag.html' %}
					{% endif %}
					
					<span>{% get_normal_time post.posted %}</span>
				</p>
			</a>
		</div>
	</div>
	<p class = "post-text">{{ post.text }}</p>
	
	{% if post.links.all|length > 0 %}
		<div class = "links">
			{% for link in post.links.all %}
				<a class = "post-link" target="_blank" href = "{{ link.link }}">
					<img src = "{% static 'img/icons/link-48.png' %}">
					<span style = "display: flex; align-items: baseline;">
						<p class = "title">{{ link.title }}</p>
						<p class = "url">{{ link.link }}</p>
					</span>
				</a>
			{% endfor %}
		</div>
	{% endif %}
	
	{% if post.images.all|length > 0 %}
		<div class = "images">
			{% for image in post.images.all %}
				<a class = "post-image" target="_blank" href = "{{ image.image.url }}">
					<img src = "{{ image.image.url }}">
				</a>
			{% endfor %}
		</div>
	{% endif %}
	
	<div class = "action-bar">
		<div class = "post-actions">
			<div class = "like-post post-action">
				{% if post in user.userprofile.liked_posts.all %}
					<img src = "{% static 'img/icons/heart-color-48.png' %}">
				{% else %}
					<img src = "{% static 'img/icons/heart-hollow-48.png' %}">
				{% endif %}
				
				{% get_like_count post as like_count %}
				<p>{{ like_count }}</p>
			</div>
			<div class = "comment-post post-action">
				<img src = "{% static 'img/icons/comment-hollow-48.png' %}">

				{% get_comment_count post as comment_count %}
				<a href>
					<p>{{ comment_count }}</p>
				</a>
			</div>
		</div>
	</div>
		
	<div class = "comments-container">
		{% if comment_count > 0 %}
			{% if comment_count > 1 %}
				<p class = "underline load-more-comments" style = "cursor: pointer; font-size: 14px; margin-bottom: 15px;">load more comments</p>
			{% endif %}
			
			<div class = "post-comments">
				{% get_latest_comment post as comment %}
				{% include 'blocks/comment.html' with comment=comment %}
			</div>
		{% endif %}	
		
		<div class = "add-comment">
			<div class = "comment-image">
				<p>{{ user.first_name.0 }}</p>
			</div>
			<input class = "field-input" type = "text" name = "comment" placeholder = "Add a comment...">
		</div>
	</div>
</div>