{% load staticfiles %}

<div class = "post content-panel">
	<a href = "{{ post.vendor.get_absolute_url }}">
		<div class = "post-header">
			<img class = "post-vendor-image" src = "{{ post.vendor.profile_image.url }}">
			<div class = "post-info">
				<p class = "post-vendor">{{ post.vendor.title }}</p>
				<p class = "post-date">{{ post.posted }}</p>
			</div>
		</div>
	</a>
	<p class = "post-text">{{ post.text }}</p>
	
	{% if post.links.all|length > 0 %}
		<div class = "links">
			{% for link in post.links.all %}
				<a class = "post-link" target="_blank" href = "{{ link.link }}">
					<img src = "{% static 'img/icons/link-48.png' %}">
					<span style = "display: flex; align-items: baseline;">
						<p class = "title">{{ link.title }}</p>
						<p class = "url">{{ link.link }}</p>
					</span>
				</a>
			{% endfor %}
		</div>
	{% endif %}
</div>