{% load staticfiles %}

<div class = "product-row content-panel">
	<span style = "display: flex; align-items: baseline;">
		<a class = "content-title underline" href = "{{ more_link }}">{{ label }}</a>
		<a class = "content-subtitle link underline" href = "{{ more_link }}">See All</a>
	</span>
	<div class = "slider-container">
		<div class = "slider">
			{% for item in items %}
				{% include 'blocks/listing_item.html' with item=item vendor=vendor %}
			{% endfor %}
		</div>
	</div>
	<div class = "slide-left">
		<img src = "{% static 'img/icons/right-filled-48.png' %}">
	</div>
	<div class = "slide-right">
		<img src = "{% static 'img/icons/right-filled-48.png' %}">
	</div>
</div>