.link-inner{
	display: flex;
	align-items: center;
	
	padding: 10px 20px 10px 10px;
	
	border-radius: 30px;
}
.link-inner:hover{
	background-color: rgba(189, 32, 255, .1);
}

.view-link{
	width: 100%;
	
	display: flex;
	align-items: center;
	
	font-family: Roboto-Medium;
	font-size: 18px;
	color: var(--light-text);
	
	box-sizing: border-box;
	
	transition: all .2s ease;
	
	cursor: pointer;
}
.view-link.selected{
	color: var(--primary);
	
	opacity: 1;
}
.view-link.selected img{
	filter: none;
	
	opacity: 1;
}
.view-link:not(.selected):hover p{
	color: var(--primary);
}
.view-link:not(.selected):hover img{
	filter: none;
}
.view-link img{
	height: 35px;
	
	filter: grayscale(100%) brightness(1.5);
	transition: all .2s ease;
}
.view-link p{
	margin-left: 10px;
}

#landing{
	width: 100%;
	height: 300px;
	
	background-color: var(--primary);
}

#ad-div{
	width: 100%;
	height: 200px;
	
	display: flex;
	flex-direction: column;
}
#ad-info{
	display: flex;
	align-items: baseline;
	
	margin-bottom: 5px;
}
#ad-name{
	font-family: Roboto-Medium;
	font-size: 18px;
}
#ad-info a{
	margin-left: 5px;
	
	font-size: 12px;
	color: blue;
}
#ad-image{
	width: 100%;
	
	flex: 1;
	
	background-color: lightgray;
}
#vendor-button{
	margin-top: 10px;
}

.section{
	margin-top: 30px !important;
}