{% extends 'account.html' %}

{% load staticfiles %}

{% block select_account %}{% endblock %}
{% block select_account_img %}"{% static 'img/icons/home-48.png' %}"{% endblock %}
{% block select_notifications %}selected{% endblock %}
{% block select_notifications_img %}"{% static 'img/icons/bell-filled-48.png' %}"{% endblock %}

{% block right_panel %}

	<div class = "right-panel-group">
		<div class = "header">
			<p class = "name">Notifications</p>
		</div>
		<div class = "section">
			
		</div>
	</div>

{% endblock %}