{% extends 'account.html' %}

{% load staticfiles %}
{% load tags %}

{% block select_account %}{% endblock %}
{% block select_orders %}selected{% endblock %}

{% block right_panel %}

	<div class = "right-panel-group content-panel-container">
		<div class = "header">
			<p class = "name">Orders</p>
		</div>
		<div class = "section table">
			<table class = "data-table">
				<tbody>
					<tr class = "header-row">
						<th>Reference Code</th>
						<th>Ordered</th>
						<th>Delivered</th>
					</tr>
					
					{% for order in orders %}
						<tr>
							<td>{{ order.ref_code }}</td>
							<td>{{ order.ordered_date }}</td>
							<td>{{ order.delivered_date }}</td>
							<td>
								<a href = "{{ order.get_absolute_url }}">
									<button class="form-submit"  type="submit">View this order</button>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
{% endblock %}