{% extends 'account.html' %}

{% block opt_account %}{% endblock %}
{% block opt_orders %}selected{% endblock %}

{% block right_panel %}
	<div class = container>
	{% for order in orders %}
	<div class = "right-panel-group content-panel-container">
			<div class = "header">
				<p class = "name">Orders</p>
			</div>
				<div class = "section">
					<div class = "form-field row">
					<h4 class = "field-label">Refrence code: {{ order.ref_code }}</h4>
					</div>
				</div>
				<div class = "section">
				<div class = "form-field row">
					<h4 class = "field-label">Order placed: {{ order.ordered }}</h4>
					
					{% if order.received %}
						<h4 class = "field-label">Order status: Delivered</h4>
						<a href = "{{ order.get_absolute_url }}">
							<button class="form-submit" type="submit">View this order</button>
						</a>
					{% elif order.being_delivered %}
						<h4 class = "field-label" >Order status: Out for delivery</h4>
						<h4 class = "field-label" >Your driver is: {{ order.driver }}</h4>
						<a href = "{{ order.get_absolute_url }}">
							<button class="form-submit" type="submit">View this order</button>
						</a>
					{% else %}
						<h4 class = "field-label" >Order status: Order is awaiting driver</h4>
						<a href = "{{ order.get_absolute_url }}">
							<button class="form-submit" type="submit">View this order</button>
						</a>
					{% endif %}
					</div>
				</div>
			</div>
		<div class = "section"></div>
    {% endfor %}
	</div>
	

{% endblock %}