{% extends 'account.html' %}

{% load staticfiles %}

{% block title %}Password{% endblock %}

{% block select_account %}{% endblock %}
{% block select_password %}selected{% endblock %}

{% block right_panel %}

	<div class = "right-panel-group content-panel-container">
		<div class = "header">
			<p class = "name">Password</p>
		</div>
		<div class = "section">
			<form method = 'POST' action = "{% url 'core:change_password' %}">
				{% csrf_token %}
			
				<div class = "form-field row">
					<p class = "field-label">Current Password</p>
					<div class = "field-inputs">
						<input id = "id_oldpassword" class = "field-input" type = "password" name = "oldpassword" placeholder = "Current Password" required>
					</div>
				</div>
				<div class = "form-group">
					<div class = "form-field row">
						<p class = "field-label">New Password</p>
						<div class = "field-inputs">
							<input id = "id_password1" class = "field-input" type = "password" name = "password1" placeholder = "New Password" autocomplete = "off" required>
						</div>
					</div>
					<div class = "form-field row">
						<p class = "field-label">Confirm Password</p>
						<div class = "field-inputs">
							<input id = "id_password2" class = "field-input" type = "password" name = "password2" placeholder = "Confirm Password" autocomplete = "off" required>
						</div>
					</div>
				</div>
				<div class = "form-end end">
					<input class = "form-submit small" type = "submit" name = "action" value = "Save">
				</div>
			</form>
		</div>
	</div>

{% endblock %}