<div id = "account-groups">
	<div class = "account-group">
		<a href = "/account">
			<div class = "account-option selected">
				<p class = "title">Account</p>
			</div>
		</a>
		<a href = "password">
			<div class = "account-option">
				<p class = "title">Password</p>
			</div>
		</a>
		<a href = "notifications">
			<div class = "account-option">
				<p class = "title">Notifications</p>
			</div>
		</a>
	</div>
	<div class = "account-group">
		
	</div>
	<div class = "account-group">
		
	</div>
</div>