{% load static %}

<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	{% block title %}
		<title>symntx</title>
	{% endblock %}
	
	<link rel = "stylesheet" type = "text/css" href = "{% static 'test/css/base.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'test/css/nav.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'test/css/footer.css' %}">
	
	{% block css %}
	{% endblock %}
</head>
<body>
	{% include "test/nav.html" %}
	{% include "test/messages.html" %}
	
	<div id = "content">
		<div class = "safe-div">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	
	{% include "test/footer.html" %}
	
	<script type = "text/javascript" src = "{% static 'js/jquery.js' %}"></script>
	
	{% block js %}
	{% endblock %}
</body>
</html>