{% extends "test/base.html" %}
{% load staticfiles %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'test/css/home.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'test/css/listings.css' %}">

{% endblock %}

{% block content %}
	<div id = "ad-div">
		<div id = "ad-info">
			<p class = "tag gold" style = "margin-right: 5px; align-self: center;">AD</p>
			<p id = "ad-name">Vendor Name</p>
			<a href>See more</a>
		</div>
		<div id = "ad-image"></div>
	</div>
	<p id = "browse-label">Browse</p>
	<div id = "search-options" class = "divided">
		<div id = "search-left">
			<div class = "dropdown shadow">
				<p class = "dropdown-label">Vendors</p>
				<img src = "{% static 'img/expand.png' %}">
				<ul>
					<li>Vendors</li>
					<li>Items</li>
				</ul>
			</div>
		</div>
		<div id = "search-right">
			<input id = "search" placeholder = "Search">
		</div>
	</div>
	<div id = "listings">
		{% for vendor in vendors %}
			<div class = "listing shadow">
				<div class = "listing-image">
					
				</div>
				<div class = "listing-info">
					<p>{{ vendor.title }}</p>
				</div>
			</div>
		{% endfor %}
		
		<div class = "listing shadow">
			<div class = "listing-image">
				
			</div>
			<div class = "listing-info">
				<div class = "tags-container">
					<p class = "tag">Clothing</p>
					<p class = "tag">Food</p>
				</div>
				<p>Vendor 6</p>
			</div>
		</div>
	</div>

{% endblock content %}

{% block js %}

	<script type = "text/javascript" src = "{% static 'js/home.js' %}"></script>

{% endblock %}