{% extends "test/base.html" %}
{% load staticfiles %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'test/css/home.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'test/css/listings.css' %}">

{% endblock %}

{% block content %}
	<div id = "ad-div">
		<div id = "ad-info">
			<p class = "tag gold" style = "margin-right: 5px; align-self: center;">AD</p>
			<p id = "ad-name">Vendor Name</p>
			<a href>See more</a>
		</div>
		<div id = "ad-image"></div>
	</div>
	<!--<div id = "search-options" class = "divided">
		<div id = "search-left">
			<div class = "dropdown shadow">
				<p class = "dropdown-label">Vendors</p>
				<img src = "{% static 'img/expand.png' %}">
				<ul>
					<li>Vendors</li>
					<li>Items</li>
				</ul>
			</div>
		</div>
		<div id = "search-right">
			<input id = "search" placeholder = "Search">
		</div>
	</div>-->
	<div class = "section">
		<a href>
			<div class = "section-header">
				<p class = "section-label">Vendors</p>
				<p class = "more-label">See all</p>
			</div>
		</a>
		<div class = "section-slide">
			<div class = "slider">
				{% for vendor in vendors %}
					<div class = "slider-item">
						<div class = "slider-image">
							<div class = "slider-tags">
								{% for tag in vendor.tags %}
									<div class = "tag" style = "background-color: {{ tag.color }}">{{ tag.name }}</div>
								{% endfor %}
							</div>
						</div>
						<div class = "slider-info">
							<p class = "slider-title">{{ vendor.title }}</p>
							<div class = "slider-view">
								<img src = "{% static 'img/icons/right-24.png' %}">
							</div>
						</div>
					</div>
				{% endfor %}
			
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
			</div>
			<div class = "slide-left">
				<img src = "{% static 'img/icons/right-filled-30.png' %}">
			</div>
			<div class = "slide-right">
				<img src = "{% static 'img/icons/right-filled-30.png' %}">
			</div>
		</div>
		<!--<div id = "listings">
			{% for vendor in vendors %}
				<div class = "listing shadow">
					<div class = "listing-image">
						
					</div>
					<div class = "listing-info">
						<div class = "tags-container">
							{% for tag in vendor.tags %}
								<p class = "tag" style = "background-color: {{ tag.color }}">{{ tag.name }}</p>
							{% endfor %}
						</div>
						<p>{{ vendor.title }}</p>
					</div>
				</div>
			{% endfor %}-->
			
			<!--<div class = "listing shadow">
				<div class = "listing-image">
					
				</div>
				<div class = "listing-info">
					<div class = "tags-container">
						<p class = "tag">Clothing</p>
						<p class = "tag">Food</p>
					</div>
					<p>Vendor 6</p>
				</div>
			</div>-->
	</div>
	<div class = "section">
		<a href>
			<div class = "section-header">
				<p class = "section-label">Products</p>
				<p class = "more-label">See all</p>
			</div>
		</a>
		<div class = "section-slide">
			<div class = "slider">
				{% for item in items %}
					<div class = "slider-item">
						<div class = "slider-image">
							<div class = "slider-tags">
								{% for tag in item.tags.all %}
									<div class = "tag" style = "background-color: {{ tag.color }}">{{ tag.name }}</div>
								{% endfor %}
							</div>
						</div>
						<div class = "slider-info">
							<p class = "slider-title">{{ item.title }}</p>
							<div class = "slider-view">
								<img src = "{% static 'img/icons/right-24.png' %}">
							</div>
						</div>
					</div>
				{% endfor %}
			
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
				<div class = "slider-item">
					
				</div>
			</div>
			<div class = "slide-left">
				<img src = "{% static 'img/icons/right-filled-30.png' %}">
			</div>
			<div class = "slide-right">
				<img src = "{% static 'img/icons/right-filled-30.png' %}">
			</div>
		</div>
	</div>

{% endblock content %}

{% block js %}

	<script type = "text/javascript" src = "{% static 'js/home.js' %}"></script>

{% endblock %}