{% extends "with_side_panel.html" %}
{% load account %}
{% load staticfiles %}

{% block title %}Account{% endblock %}

{% block with_side_panel_css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/account.css' %}">

{% endblock %}

{% block left_panel %}
	
	<div class = "left-panel-group">
		<p class = "title">Account</p>
		<div class = "links">
			<a href = "{% url 'core:account' %}">
				<div class = "link {% block select_account %}selected{% endblock %}">
					<div class = "link-image">
						<img src = "{% static 'img/icons/home-color-48.png' %}">
					</div>
					<p>Account</p>
				</div>
			</a>
			<a href = "{% url 'core:account_page' 'password' %}">
				<div class = "link {% block select_password %}{% endblock %}">
					<div class = "link-image">
						<img src = "{% static 'img/icons/lock-color-48.png' %}">
					</div>
					<p>Password</p>
				</div>
			</a>
			<a href = "{% url 'core:account_page' 'orders' %}">
				<div class = "link {% block select_orders %}{% endblock %}">
					<div class = "link-image">
						<img src = "{% static 'img/icons/products-color-48.png' %}">
					</div>
					<p>Orders</p>
				</div>
			</a>
			<a href = "{% url 'core:account_page' 'notifications' %}">
				<div class = "link {% block select_notifications %}{% endblock %}">
					<div class = "link-image">
						<img src = "{% static 'img/icons/bell-color-48.png' %}">
					</div>
					<p>Notifications</p>
				</div>
			</a>
		</div>
	</div>
	<div class = "left-panel-group">
		<div class = "links">
			<a href = "{% url 'core:account_page' 'delete' %}">
				<div id = "delete" class = "link {% block select_delete %}{% endblock %}">
					<div class = "link-image">
						<img src = "{% static 'img/icons/trash-color-48.png' %}">
					</div>
					<p style = "color: red; font-family: Roboto-Medium;">Delete Account</p>
				</div>
			</a>
		</div>
	</div>

{% endblock %}

{% block right_panel %}

	<div class = "right-panel-group content-panel-container">
		<div class = "header">
			<p class = "name">Account</p>
		</div>
		<div class = "section">
			<form method = 'POST'>
				{% csrf_token %}
			
				<div class = "form-field row">
					<p class = "field-label">Name</p>
					<div class = "field-inputs">
						<input class = "field-input" type = "text" name = "first_name" placeholder = "First Name" value = "{{ user.first_name }}" required>
						<input class = "field-input" type = "text" name = "last_name" placeholder = "Last Name" value = "{{ user.last_name }}" required>
					</div>
				</div>
				<div class = "form-field row">
					<p class = "field-label">Email</p>
					<div class = "field-inputs">
						<input class = "field-input" type = "email" name = "email" placeholder = "Email" value = "{{ user.email }}" required>
					</div>
				</div>
				<div class = "form-end end">
					<input class = "form-submit small" type = "submit" value = "Save">
				</div>
			</form>
		</div>
	</div>

{% endblock %}