{% extends "with_side_panel.html" %}
{% load account %}
{% load staticfiles %}

{% block title %}

	<title>Account - Simntx</title>
	
{% endblock %}

{% block extra_css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/account.css' %}">

{% endblock %}

{% block left_panel %}

	<div id = "left-panel-groups">
		<div class = "left-panel-group">
			<a href = "{% url 'core:account' %}">
				<div class = "left-panel-option {% block opt_account %}selected{% endblock %}">
					<p class = "title">Account</p>
					<img src = "{% static 'img/icons/right-caret-24.png' %}">
				</div>
			</a>
			<a href = "{% url 'core:account_page' 'orders' %}">
				<div class = "left-panel-option {% block opt_orders %}{% endblock %}">
					<p class = "title">Orders</p>
					<img src = "{% static 'img/icons/right-caret-24.png' %}">
				</div>
			</a>
			{% if user.is_staff %}
			<a href = "{% url 'core:account_page' 'deliveries' %}">
				<div class = "left-panel-option {% block opt_deliveries %}{% endblock %}">
					<p class = "title">Deliveries</p>
					<img src = "{% static 'img/icons/right-caret-24.png' %}">
				</div>
			</a>
			{% endif %}
			<a href = "{% url 'core:account_page' 'password' %}">
				<div class = "left-panel-option {% block opt_password %}{% endblock %}">
					<p class = "title">Password</p>
					<img src = "{% static 'img/icons/right-caret-24.png' %}">
				</div>
			</a>
		</div>
		<div class = "left-panel-group">
			<a href = "{% url 'core:account_page' 'notifications' %}">
				<div class = "left-panel-option {% block opt_notifications %}{% endblock %}">
					<p class = "title">Notifications</p>
					<img src = "{% static 'img/icons/right-caret-24.png' %}">
				</div>
			</a>
		</div>
		
		<div class = "left-panel-group">
			<a href = "{% url 'core:account_page' 'delete' %}">
				<div class = "left-panel-option delete {% block opt_delete %}{% endblock %}">
					<p class = "title">Delete Account</p>
					<img src = "{% static 'img/icons/right-caret-24.png' %}">
				</div>
			</a>
		</div>
	</div>

{% endblock %}

{% block right_panel %}

    <div class = "right-panel-group">
		<div class = "header">
			<p class = "name">Account</p>
		</div>
		<div class = "section">
			<h4>Username: {{ user.username }}</h4>
		</div>
		<div class = "section">
			<h4>First Name: {{ user.first_name }}</h4>
			<h4>Last Name: {{ user.last_name }}</h4>
		</div>
		<div class = "section">
			<h4>Email: {{ user.email }}</h4>
		</div>
	</div>

{% endblock %}