{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Home{% endblock %} - Simntx</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/nav.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/nav-desktop.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/nav-mobile.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/media_queries.css' %}">
	
	<style>
		@font-face {
			font-family: Roboto-Thin;
			src: url({% static 'font/roboto/Roboto-Thin.ttf' %});
		}
		@font-face {
			font-family: Roboto-Regular;
			src: url({% static 'font/roboto/Roboto-Regular.ttf' %});
		}
		@font-face {
			font-family: Roboto-Medium;
			src: url({% static 'font/roboto/Roboto-Medium.ttf' %});
		}
	</style>
	
	{% block css %}
	{% endblock %}
</head>
<body>
	{% include 'blocks/nav.html' %}
	
	<div id = "container">
		<div id = "left-panel">
			{% block left_base_panel %}
			{% endblock %}
		</div>
		<div id = "right-panel">
			{% block right_panel %}
			{% endblock %}
		</div>
	</div>
	
	{% include 'blocks/footer.html' %}
	
	<script type = "text/javascript" src = "{% static 'js/jquery.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/ajax.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/base.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/nav.js' %}"></script>
	
	{% block js %}
	{% endblock %}
</body>
</html>