{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Simntx</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/landing.css' %}">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/media_queries.css' %}">
	
	{% block css %}
	{% endblock %}
</head>
<body>
    <div class = "padding">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div id="main-text">
                        <h1>Are you looking to drive?</h1>
                        <h2>Please fill out your information below and a representative will email you back should we have any openings</h2>
                    </div>
                </div>

                <div>
		            <form method= "POST">
                        {% csrf_token %}
                            <div class="input-group mb-3">
                                {{ form }}
                                    <div class="input-group-append">
                                        <a href="/store"><button type="submit" class="btn btn-secondary">Enter</button></a>
                                    </div>
                            </div>
                    </form>
                </div>
         </div>
    </div>
    
</body>