{% extends "home.html" %}
{% block js %}
<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}

{% load staticfiles %}

{% block title %}Order Overview{% endblock %}

{% block home_css %}

	<!-- use assert function-->
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/cart.css' %}">
	
{% endblock %}

{% block right_panel %}
    <div class ="container">
        <div class = "content-panel-container">
            <div class = "content-panel">
                <p class = "content-title">Order Overview</p>
                <table>
                    <tbody>
                        <tr>
                            <th>Product</th>
                            <th>Vendor</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                        </tr>
                        {% for product in items.all %}
                            <tr>
                                <td>{{ product.item.title }}</td>
                                <td>{{ product.item.vendor }}</td>
                                <td>{{ product.item.price }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>
                                    {% if order_item.item.discount_price %}
                                        {{ product.get_total_discount_item_price }}
                                    {% else %}
                                        {{ product.get_total_item_price }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class = "content-panel">
            {% if request.user.is_staff %}
            {% comment %} Driver sees this {% endcomment %}
           
                
                {% if object.driver.id == request.user.id %}
                <a class='form-submit' type="submit" href="{% url 'core:set_delivered' object.get_ref_code %}">Mark Delivered</a>
                {% else %}
                
                    <button class='form-submit' type="submit" href="{% url 'core:set-driver' object.ref_code %}">Deliver this order</button> 
                
                {% endif %}
                
                    <button class='form-submit' onclick="goBack()">Go back</button>
                
            {% else %}
            {% comment %}Customer sees this {% endcomment %}

                {% if object.received %}
                <button class='form-submit' type="submit" href="/request-refund">Request Refund</button>
                <button class='form-submit' type="submit" href="/tip">Tip your driver</button>
                {% endif %}
                    <button onclick="goBack()" class="form-submit">Go back</button>
            {% endif %}
        </div>
    </div>

{% endblock %}