{% extends 'home.html' %}

{% load staticfiles %}

{% block js %}
<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base.css' %}">

{% block title %}Order Summary{% endblock %}

{% block right_panel %}

	<div class = "right-panel-group content-panel-container">
        <div class = "header">
            <p class = "name">Order Summary</p>
        <div class = "header">

        <div class = "section">
                <table>
                    <thead>
                        <tr>
                            <th class = "field-label" scope="col">#</th>
                            <th class = "field-label" scope="col">Item title</th>
                            <th class = "field-label" scope="col">Vendor</th>
                            <th class = "field-label" scope="col">Price</th>
                            <th class = "field-label" scope="col">Quantity</th>
                            <th class = "field-label" scope="col">Total Item Price</th>
                        </tr>
                    <thead>
                    <tbody>
            {% for order_item in object.items.all %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ order_item.item.title }}</td>
                            <td>{{ order_item.item.vendor }}</td>
                            <td>{{ order_item.item.price }}</td>
                            <td>{{ order_item.quantity }} </td>
                            <td>
                            {% if order_item.item.discount_price %}
                                ${{ order_item.get_total_discount_item_price }}
                                <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
                            {% else %}
                                ${{ order_item.get_total_item_price }}
                            {% endif %}
                            </td>
                        </tr>
            {% empty %}
            <tr>
                <td colspan='5'>This order is empty</td>
            </tr>
            {% endfor %}
            {% if object.coupon %}
            <tr>
                <td colspan="4"><b>Coupon</b></td>
                <td><b>-${{ object.coupon.amount }}</b></td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        </div>
        <div class = "section">

            {% if object.get_total %}
            <div class = "form-field row">
                <p class = "field-label"><b>Order Total</b></p>
                <p><b >${{ object.get_total }}</b></p>
            </div>
            {% endif %}
        </div>
        <div class = "section">
        
            {% if request.user.is_staff %}
            {% comment %} Driver sees this {% endcomment %}
            <div class = "form-field row">  
                <td colspan="6">
                {% if object.driver.id == request.user.id %}
                <a class='btn btn-success float-right ml-2' type="submit" href="{% url 'core:set-received' object.get_ref_code %}">Mark Delivered</a>
                {% else %}
                <a class='btn btn-warning float-right ml-2' type="submit" href="{% url 'core:set-driver' object.get_ref_code %}">Deliver this order</a>
                {% endif %}
                <a class='btn btn-primary float-right' onclick="goBack()">Go back</a>
                </td>
            </div>
            
            {% else %}
            {% comment %}Customer sees this {% endcomment %}
            <div class = "form-field row">  

                {% if object.received %}
                <a class='button' type="submit" href="/request-refund">Request Refund</a>
                <a class='button' type="submit" href="/tip">Tip your driver</a>
                {% endif %}
                <a class='btn btn-primary float-right' onclick="goBack()" >
                    <button>Go back</button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}