{% extends 'home.html' %}

{% load staticfiles %}

{% block title %}Feed{% endblock %}

{% block select_feed %}selected{% endblock %}

{% block home_css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/feed.css' %}">

{% endblock %}

{% block right_panel %}

	<div class = "content-panel-container column">
		<div id = "feed-posts">
			{% for post in posts %}
				{% include 'blocks/post.html' with post=post %}
			{% endfor %}
		</div>
		
		{% if more_to_load %}
			<div id = "load-more-posts" class = "content-panel underline">
				Load More Posts
			</div>
		{% endif %}
		
		<p id = "end-of-posts" {% if more_to_load %}style = "display: none;"{% endif %}>No more posts</p>
	</div>

{% endblock %}

{% block home_js %}

	<script type = "text/javascript" src = "{% static 'js/feed.js' %}"></script>

{% endblock %}