{% extends "base.html" %}
{% load staticfiles %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/listings.css' %}">

{% endblock %}

{% block before_content %}

	<div id = "landing">
		
	</div>

{% endblock %}

{% block content %}
	<div id = "ad-div">
		<div id = "ad-info">
			<p class = "tag gold" style = "margin-right: 5px; align-self: center;">AD</p>
			<p id = "ad-name">Vendor Name</p>
			<a href>See more</a>
		</div>
		<div id = "ad-image"></div>
	</div>
	
	{% include 'section_with_slider.html' with label='Vendors' items=vendors vendor=True %}
	{% include 'section_with_slider.html' with label='Products' items=items vendor=None %}


{% endblock content %}

{% block js %}

	<script type = "text/javascript" src = "{% static 'js/home.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/listings.js' %}"></script>

{% endblock %}