{% extends 'with_side_panel.html' %}

{% load staticfiles %}

{% block with_side_panel_css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css' %}">

	{% block home_css %}
	{% endblock %}

{% endblock %}

{% block home_button %}{% endblock %}

{% block left_panel %}

	<div class = "left-panel-group">
		<p class = "title">General</p>
		<div class = "links">
			<a href = "{% url 'core:feed' %}">
				<div class = "link {% block select_feed %}{% endblock %}">
					<div class = "link-image">
						<img src = {% block select_feed_img %}"{% static 'img/icons/home-color-48.png' %}"{% endblock %}>
					</div>
					<p>Feed</p>
				</div>
			</a>
			<a href = "{% url 'core:store' %}">
				<div class = "link {% block select_store %}{% endblock %}">
					<div class = "link-image">
						<img src = {% block select_store_img %}"{% static 'img/icons/store-color-48.png' %}"{% endblock %}>
					</div>
					<p>Store</p>
				</div>
			</a>
		</div>
	</div>
	<div class = "left-panel-group">
		<p class = "title">Account</p>
		<div class = "links">
			{% if user.userprofile.vendor_owner %}
				<a href = "{% url 'dashboards:vendor' %}">
					<div class = "link {% block select_vendor %}{% endblock %}">
						<div class = "link-image">
							<img src = {% block select_vendor_img %}"{% static 'img/icons/dashboard-color-48.png' %}"{% endblock %}>
						</div>
						<p>Vendor Dashboard</p>
					</div>
				</a>
			{% endif %}
			{% if user.userprofile.is_driver %}
				<a href = "{% url 'dashboards:driver' %}">
					<div class = "link {% block select_drivers %}{% endblock %}">
						<div class = "link-image">
							<img src = {% block select_drivers_img %}"{% static 'img/icons/drivers-color-48.png' %}"{% endblock %}>
						</div>
						<p>Driver Dashboard</p>
					</div>
				</a>
			{% endif %}
			
			<a href = "{% url 'core:account' %}">
				<div class = "link {% block select_account %}{% endblock %}">
					<div class = "link-image">
						<img src = {% block select_account_img %}"{% static 'img/icons/settings-color-48.png' %}"{% endblock %}>
					</div>
					<p>Settings</p>
				</div>
			</a>
		</div>
	</div>

{% endblock %}

{% block right_panel %}
{% endblock %}

{% block with_side_panel_js %}

	{% block home_js %}
	{% endblock %}

{% endblock %}