{% extends "base.html" %}
{% load staticfiles %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/listings.css' %}">

{% endblock %}

{% block content %}
	<div id = "ad-div">
		<div id = "ad-info">
			<p class = "tag gold" style = "margin-right: 5px; align-self: center;">AD</p>
			<p id = "ad-name">Vendor Name</p>
			<a href>See more</a>
		</div>
		<div id = "ad-image"></div>
	</div>
	<div class = "section">
		<a href>
			<div class = "section-header">
				<p class = "section-label">Vendors</p>
				<p class = "more-label">See all</p>
			</div>
		</a>
		<div class = "section-slide">
			<div class = "slider">
				{% for vendor in vendors %}
					{% include 'listing_item.html' with item=vendor vendor=True %}
				{% endfor %}
			</div>
			{% if vendors.count > 5 %}
				<div class = "slide-left">
					<img src = "{% static 'img/icons/right-filled-30.png' %}">
				</div>
				<div class = "slide-right">
					<img src = "{% static 'img/icons/right-filled-30.png' %}">
				</div>
			{% endif %}
		</div>
	</div>
	<div class = "section">
		<a href>
			<div class = "section-header">
				<p class = "section-label">Products</p>
				<p class = "more-label">See all</p>
			</div>
		</a>
		<div class = "section-slide">
			<div class = "slider">
				{% for item in items %}
					{% include 'listing_item.html' with item=item vendor=None %}
				{% endfor %}
			</div>
			{% if vendors.count > 5 %}
				<div class = "slide-left">
					<img src = "{% static 'img/icons/right-filled-30.png' %}">
				</div>
				<div class = "slide-right">
					<img src = "{% static 'img/icons/right-filled-30.png' %}">
				</div>
			{% endif %}
		</div>
	</div>

{% endblock content %}

{% block js %}

	<script type = "text/javascript" src = "{% static 'js/home.js' %}"></script>

{% endblock %}