{% load static %}

<!DOCTYPE html>
<html style="background-image: url('../static/img/landing.jpg')">
<head>
	<title>Simntx</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link rel = "stylesheet" type = "text/css" href = "{% static '/css/landing.css' %}">
    <link rel = "stylesheet" type = "text/css" href = "{% static '/css/bootstrap.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static '/css/media_queries.css' %}">
	
	{% block css %}
	{% endblock %}
</head>
<body style="background-image: url('../static/img/landing.jpg')" >
    <p>Photo by Nicolas Postiglioni from Pexels</p>
    <div class = "padding">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div id="main-text" style="color: white;">
                        <h1>Welcome to Simntx!</h1>
                        <h2>Please enter your zip code to view vendors in your area</h2>
                    </div>
                </div>

            
                   
                    <div class="col-sm">
                        <form method= "POST">
                         {% csrf_token %}
                            <div class="input-group mb-3">
                                {{ form }}
                                <div class="input-group-append">
                                    <a href="/store"><button type="submit" class="btn btn-secondary">Enter</button></a>
                                </div>
                            </div>
                        </form>
                        <p><a href="/accounts/login/">Have an account with us already?</a>  <a href="/accounts/signup/">Want to signup?</a>   <a href="/driver_signup/">Looking to drive for us?</a></p>
                    </div>
                </div>
            
        </div>
    </div>
</body>