{% load staticfiles %}

<a href = "{{ item.get_absolute_url }}">
	<div class = "listing-item {% if vendor == None %} product {% endif %}">
		<div class = "listing-image">
			<img src = "{{item.image.url}}">
		</div>
		<div class = "listing-info">
			<div class = "listing-tags">
				{% if vendor == True %}
					{% for tag in item.tags %}
						<div class = "tag" style = "background-color: {{ tag.color }}">{{ tag.name }}</div>
					{% endfor %}
				{% else %}
					{% for tag in item.tags.all %}
						<div class = "tag" style = "background-color: {{ tag.color }}">{{ tag.name }}</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class = "listing-main">
				<p class = "listing-title">{{ item.title }}</p>
				{% if vendor == None %}
					<p class = "listing-price">${{ item.price }}</p>
				{% endif %}
			</div>
			{% if vendor == None %}
				<div class = "listing-other">
					<p class = "listing-vendor">{{ item.vendor.title }}</p>
				</div>
			{% endif %}
		</div>
	</div>
</a>