{% load staticfiles %}
{% load cart_template_tags %}

<div id = "nav" class = "shadow">
	<div class = "safe-div divided" style = "align-items: center;">
		<div class = "nav-section" id = "nav-left">
			<a href = "{% url 'core:index' %}">Simntx</a>
		</div>
		<input id = "search" type = "text" placeholder = "Search">
		<div class = "nav-section" id = "nav-right">
			{% if request.user.is_authenticated %}
				<div class = "nav-button">
					<a href = "{% url 'core:order-summary' %}">
						<div id = "item-count-badge">{{ request.user|cart_item_count }}</div>
						<img src = "{% static 'img/cart.png' %}">
						<p>Cart</p>
					</a>
				</div>
				<div class = "nav-button">
					<a href = "{% url 'account_logout' %}">Logout</a>
				</div>
			{% else %}
				<div class = "nav-button">
					<a href = "{% url 'account_login' %}">Login</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>