{% load staticfiles %}
{% load cart_template_tags %}
{% load tags %}
{% load hosts %}

{% if request.user.is_authenticated %}
	{% get_profile user as profile %}
{% endif %}

<div id = "nav"><!--class = "shadow"-->
	<div class = "safe-div divided" style = "align-items: center;">
		<div class = "nav-section" id = "nav-left">
			<a href = "{% host_url 'core:index' host 'simntx' %}">
				<img src = "{% static 'img/logo.png' %}">
			</a>
		</div>
		<div class = "nav-section" id = "nav-right">
			<div class = "sub-section" id = "account-links">
				{% if request.user.is_authenticated %}
					{% if profile.vendor_owner %}
						<div class = "nav-button">
							<a href = "{% host_url 'index' host 'vendor' %}">Vendor Dashboard</a>
						</div>
					{% endif %}
					
					{% if request.user.is_staff %}
						<div class = "nav-button">
							<a href = "{% host_url 'core:drivers' host 'simntx' %}">Delivery</a>
						</div>
					{% endif %}
					<div class = "nav-button">
						<a href = "{% host_url 'core:account' host 'simntx' %}">Account & Orders</a>
					</div>
					<div class = "nav-button">
						<form action = "{% host_url 'account_logout' host 'simntx' %}" method = "POST">
							{% csrf_token %}

							<input id = "logout" type = "submit" value = "Logout">
						</form>
					</div>
				{% else %}
					<div class = "nav-button">
						<a href = "{% host_url 'account_login' host 'simntx' %}">Login</a>
					</div>
					<div class = "nav-button">
						<a href = "{% host_url 'account_signup' host 'simntx' %}">Sign Up</a>
					</div>
				{% endif %}
			</div>
			<div class = "sub-section">
				<form action = "/search" method = "POST">
					{% csrf_token %}
					{% include 'searchbar.html' %}
				</form>
				{% if request.user.is_authenticated %}
					<div class = "nav-button">
						<a href = "{% host_url 'core:order-summary' host 'simntx' %}" style = "display: flex; align-items: flex-end;">
							<img src = "{% static 'img/icons/cart.png' %}">
							<div id = "item-count-badge">{{ request.user|cart_item_count }}</div>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
