<div class = "header" style = "display: flex; align-items: baseline;">
	<p class = "content-title">Cart</p>
	<p class = "content-subtitle">{% get_cart_count user as cart_count %}{{ cart_count }} item{% if cart_count > 1 %}s{% endif %}</p>
</div>
<div class = "cart-items">
	{% get_active_order_items user as cart %}
	{% for item in cart %}
		<div class = "cart-item">
			<div class = "item-details">
				<p class = "title">{{ item.item.title }}</p>
				<p class = "quantity">x{{ item.quantity }}</p>
			</div>
			<p class = "price">${{ item.get_final_price }}</p>
		</div>
	{% endfor %}
</div>
<hr>

{% if order.coupon %}
	<div class = "cart-coupons">
		<p class = "title">Coupons</p>
		<div class = "coupon">
			<p class = "title">{{ order.coupon.code }}</p>
			<p class = "amount price">-${{ order.coupon.amount }}</p>
		</div>
	</div>
	<hr>
{% endif %}

<div class = "cart-total">
	<p style = "font-size: 14px;">Total (USD)</p>
	<p class = "price">${{ order.get_total }}</p>
</div>

{% if DISPLAY_COUPON_FORM %}
	<form class="card p-2" action="{% url 'core:add-coupon' %}" method="POST">
		{% csrf_token %}
		
		<div class = "form-field row">
			<input id = "id_code" class = "field-input" type = "text" name = "code" placeholder = "Promo code">
			<input class = "form-submit" type = "submit" value = "Apply">
		</div>
	</form>
{% endif %}