{% extends "home.html" %}

{% load staticfiles %}

{% block title %}Cart{% endblock %}

{% block home_css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/cart.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/checkout.css' %}">
	
{% endblock %}

{% block right_panel %}
	
	<div class = "content-panel-container content-grid inverse two" style = "--side-panel-width: 300px;">
		<div class = "content-container">
			<div class = "content-panel">
				<p class = "content-title large">Cart</p>
				<table>
					<tbody>
						<tr>
							<th>Product</th>
							<th>Vendor</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Tax</th>
							<th>Total Price</th>
							<th></th>
						</tr>
						
						{% get_active_order_items user as order_items %}
						{% for product in order_items.all %}
							<tr>
								<td>{{ product.item.title }}</td>
								<td>{{ product.item.vendor.title }}</td>
								<td>{{ product.item.price }}</td>
								<td>
									<a href="{% url 'core:remove-single-item-from-cart' product.item.slug %}">
										<img class = "tiny-button" src = "{% static 'img/icons/minus-30.png' %}">
									</a>
									{{ product.quantity }}
									<a href="{% url 'core:add-to-cart' product.item.slug %}">
										<img class = "tiny-button" src = "{% static 'img/icons/plus-30.png' %}">
									</a>
								</td>
								<td>
									{% if order_item.item.discount_price %}
										{{ product.get_discount_tax }}
									{% else %}
										{{ product.get_tax }}
									{% endif %}
								</td>
								<td>
									{% if order_item.item.discount_price %}
										{{ product.get_total_discount_item_price }}
									{% else %}
										{{ product.get_total_item_price }}
									{% endif %}
								</td>
								<td>
									<a href="{% url 'core:remove-from-cart' product.item.slug %}">
										<img class = "tiny-button remove" src = "{% static 'img/icons/trash-24.png' %}">
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				
				{% get_cart_count user as cart_count %}
				{% if cart_count == 0 %}
					<div class = "form-end">
						<a href = "{% url 'core:store' %}">
							<input id = "continue-shopping" class = "form-submit" type = "submit" value = "Continue Shopping">
						</a>
					</div>
				{% else %}
					<div class = "form-end">
						<a href = "{% url 'core:checkout' %}">
							<input class = "form-submit" type = "submit" value = "Checkout">
						</a>
					</div>
				{% endif %}
			</div>
		</div>
		<div class = "content-container">
			<div class = "content-panel">
			{% comment %}
			Somthing is wrong with this and im not being payed anymore
			 {% get_cart_count user as cart_count_two %}
			{% if cart_count_two == 0 %}
				{% include "order_snippet.html" with items=order_items %}
			{% endif %} {% endcomment %}
			</div>
		</div>
	</div>

{% endblock %}