{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	<title>{{ product.title }} - Simntx</title>
{% endblock %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/product.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/detailview.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/listings.css' %}">

{% endblock %}

{% block content %}

	<div id = "main-info">
		<div id = "image-gallery">
			<div id = "gallery-image">
				<img src = "{{ product.image.url }}">
			</div>
			<div id = "image-selector">
				<div class = "selector-image selected">
					<img src = "{{ product.image.url }}">
				</div>
			</div>
		</div>
		<div id = "product-info">
			<div class = "tags-container">
				{% for tag in product.tags.all %}
					{% include 'tag.html' with tag=tag %}
				{% endfor %}
			</div>
			<p id = "product-name">{{ product.title }}</p>
			<p id = "product-vendor"><a href = "{{ product.vendor.get_absolute_url }}" class = "link">{{ product.vendor.title }}</a></p>
			<p id = "product-price">${{ product.price }}</p>
			<p id = "desc-label">Description</p>
			<p id = "product-desc">{{ product.description }}</p>
			<div id = "product-options">
				<a href = "{{ product.get_add_to_cart_url }}">
					<div class = "cart-button shadow cart-blue">Add to Cart</div>
				</a>
			</div>
		</div>
	</div>
	<div id = "more-info">
		<p id = "info-label">Other Products from this Vendor</p>
		<div class = "section-slide">
			<div class = "slider">
				{% for item in other_products %}
					{% include 'listing_item.html' with item=item vendor=None %}
				{% endfor %}
			</div>
			{% if other_products.count > 5 %}
				<div class = "slide-left">
					<img src = "{% static 'img/icons/right-filled-30.png' %}">
				</div>
				<div class = "slide-right">
					<img src = "{% static 'img/icons/right-filled-30.png' %}">
				</div>
			{% endif %}
		</div>
	</div>

{% endblock %}

{% block js %}

	<script type = "text/javascript" src = "{% static 'js/product.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/listings.js' %}"></script>

{% endblock %}