{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	<title>{{ product.title }} - Simntx</title>
{% endblock %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/product.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/detailview.css' %}">

{% endblock %}

{% block content %}

	<div id = "main-info">
		<div id = "image-gallery" class = "shadow">
			<div id = "gallery">
				<div class = "gallery-img">
					<img style = "width: 100%; filter: blur(5px);" src = "images/gallery/1.png">
					<img style = "filter: blur(-5px);" src = "{% static 'img/1.jpg' %}">
				</div>
				<div class = "gallery-img">
					<img style = "width: 100%; filter: blur(5px);" src = "images/gallery/2.png">
					<img style = "filter: blur(-5px);" src = "{% static 'img/2.jpg' %}">
				</div>
				<div class = "gallery-img">
					<img style = "width: 100%; filter: blur(5px);" src = "images/gallery/3.png">
					<img style = "filter: blur(-5px);" src = "{% static 'img/3.jpg' %}">
				</div>
			</div>
			<div id = "gallery-buttons">
				<div class = "gallery-button left"><img src = "{% static 'img/left.png' %}"></div>
				<div class = "gallery-button right"><img src = "{% static 'img/right.png' %}"></div>
			</div>
			<div id = "gallery-index"></div>
		</div>
		<div id = "product-info">
			<p id = "product-name">{{ product.title }}</p>
			<div class = "tags-container">
				{% for tag in product.tags.all %}
					<p class = "tag" style = "background-color: {{ tag.color }}">{{ tag.name }}</p>
				{% endfor %}
			</div>
			<p id = "product-price">${{ product.price }}</p>
			<p id = "desc-label">Description</p>
			<p id = "product-desc">{{ product.description }}</p>
			<div id = "product-options">
				<a href = "{{ product.get_add_to_cart_url }}">
					<div class = "cart-button shadow cart-blue">Add to Cart</div>
				</a>
			</div>
		</div>
	</div>
	<div id = "more-info">
		<p id = "info-label">Other Products from this Vendor</p>
		<div id = "products-container">
			<a href>
				<div class = "product-image"></div>
			</a>
			<a href>
				<div class = "product-image"></div>
			</a>
			<a href>
				<div class = "product-image"></div>
			</a>
			<a href>
				<div class = "product-image"></div>
			</a>
			<a href>
				<div class = "product-image"></div>
			</a>
			<a href>
				<div class = "product-image"></div>
			</a>
			<a href>
				<div class = "product-image"></div>
			</a>
			<a href>
				<div class = "product-image"></div>
			</a>
			<a href>
				<div class = "product-image"></div>
			</a>
			<a href>
				<div class = "product-image"></div>
			</a>
		</div>
	</div>

{% endblock %}

{% block js %}

	<script type = "text/javascript" src = "{% static 'js/product.js' %}"></script>

{% endblock %}