{% extends 'home.html' %}

{% load staticfiles %}

{% block select_store %}selected{% endblock %}

{% block title %}{{product.title}}{% endblock %}

{% block home_css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/product.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/listings.css' %}">

{% endblock %}

{% block right_panel %}

	<div class = "content-panel-container column">
		<div id = "product-main" class = "content-panel">
			<div id = "product-directory">
				<a class = "underline" href = "{% url 'core:store' %}">Store</a> / <a class = "underline" href = "{{ product.vendor.get_absolute_url }}">{{ product.vendor.title }}</a> / <a class = "underline" href = "{{ product.get_absolute_url }}">{{ product.title }}</a>
			</div>
			<div id = "product-details" class = "content-grid two inverse" style = "--side-panel-width: 50%;">
				<div id = "image-gallery">
					<div id = "gallery-image">
						<img src = "{{ product.image.url }}">
					</div>
					<div id = "image-selector">
						<div class = "selector-image selected">
							<img src = "{{ product.image.url }}">
						</div>
					</div>
				</div>
				<div id = "product-info">
					<div class = "tags-container">
						{% for tag in product.tags.all %}
							{% include 'blocks/tag.html' with tag=tag %}
						{% endfor %}
					</div>
					<p id = "product-name">{{ product.title }}</p>
					<a id = "product-vendor" href = "{{ product.vendor.get_absolute_url }}" class = "link underline">{{ product.vendor.title }}</a>
					<p id = "product-price">${{ product.price }}</p>
					<p id = "desc-label">Description</p>
					<p id = "product-desc">{{ product.description }}</p>
					<div id = "product-options">
						<a href = "{{ product.get_add_to_cart_url }}">
							<div class = "cart-button cart-blue">Add to Cart</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		{% url 'core:vendor_store' vendor.slug as store %}
		{% include 'blocks/product_row.html' with label='Other Products from '|add:product.vendor.title items=other_products vendor=None more_link=store %}
	</div>

{% endblock %}

{% block js %}

	<script src = "{% static 'js/listings.js' %}"></script>

{% endblock %}