{% extends 'home.html' %}

{% load staticfiles %}

{% block home_css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/search.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/listings.css' %}">

{% endblock %}

{% block right_panel %}

	<div class = "content-panel-container">
		<div id = "search-bar-container" class = "content-panel">
			
			{% url 'core:search' as page %}
			{% include 'blocks/searchbar.html' with query=query page=page search_bar=True form_id='search-form' %}
		</div>
		<div id = "search-details-container">
			{% include 'blocks/content_panels/filters.html' with form_id='search-form' %}
			
			<div id = "results-container" class = "content-panel">
				<p class = "content-title">Results</p>
				<div class = "products-container">
					{% for item in product_results %}
						{% include 'blocks/listing_item.html' with item=item vendor=None%}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}
	
	<script type = "text/javascript" src = "{% static 'js/search.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/search_helper.js' %}"></script>
	
{% endblock %}