{% extends "base.html" %}
{% load staticfiles %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/search.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/listings.css' %}">

{% endblock %}

{% block content %}
	
	<div id = "search-options">
		<form action = "/search" method = "POST" id = "search-form">
			{% csrf_token %}
			
			{% include 'searchbar.html' %}
		</form>
	</div>
	<div id = "search-body">
		<div id = "search-filters">
			<div class = "filter-group">
				<p class = "filter-label">Tags</p>
				<div class = "filter-options">
					<div id = "search-tags">
						{% for tag in selected_tags %}
							<input class = "tag decorated-tag selected" form = "search-form" type = "submit" name = "tag" value = "{{ tag.name }}">
						{% endfor %}
						{% for tag in remaining_tags %}
							<input class = "tag decorated-tag" form = "search-form" type = "submit" name = "tag" value = "{{ tag.name }}">
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div id = "search-results">
			<div class = "section-header">
				<p class = "section-label">Search Results</p>
			</div>
			<div id = "listings">
				{% for item in product_results %}
					{% include 'listing_item.html' with item=item vendor=None%}
				{% endfor %}
			</div>
			{% if show_load_button %}
				<div id = "load-more" class = "cart-button primary">
					LOAD MORE
				</div>
			{% endif %}
		</div>
	</div>

{% endblock content %}

{% block js %}

	<script type = "text/javascript">
		var listing_item = `{% include 'listing_item.html' with item=product_results.0 vendor=None %}`;
		var load_amount = {{ load_amount }};
	</script>

	<script type = "text/javascript" src = "{% static 'js/ajax.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/search.js' %}"></script>

{% endblock %}