{% load staticfiles %}

<div class = "section">
	<div class = "section-header">
		<p class = "section-label"><a href>{{ label }}</a></p>
	</div>
	<div class = "section-body">
		<div class = "section-slide">
			<div class = "slider">
				{% for item in items %}
					{% include 'listing_item.html' with item=item vendor=vendor %}
				{% endfor %}
			</div>
		</div>
		{% if items.count > 5 %}
			<div class = "slide-left">
				<img src = "{% static 'img/icons/right-24.png' %}">
			</div>
			<div class = "slide-right">
				<img src = "{% static 'img/icons/right-24.png' %}">
			</div>
		{% endif %}
	</div>
</div>