{% extends 'home.html' %}

{% load staticfiles %}

{% block select_store %}selected{% endblock %}
{% block select_store_img %} "{% static 'img/icons/store-filled-48.png' %}" {% endblock %}

{% block home_css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/store.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/product-row.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/listings.css' %}">

{% endblock %}

{% block right_panel %}

	<div id = "store-container">
		{% include 'blocks/product_row.html' with label='All Vendors' items=vendors vendor=True %}
		{% include 'blocks/product_row.html' with label='All Products' items=products vendor=None %}
		{% include 'blocks/product_row.html' with label='Food' items=food vendor=None %}
	</div>

{% endblock %}

{% block js %}

	<script src = "{% static 'js/listings.js' %}"></script>

{% endblock %}