{% extends 'home.html' %}

{% load staticfiles %}

{% block title %}Store{% endblock %}

{% block select_store %}selected{% endblock %}

{% block home_css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/store.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/product-row.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/listings.css' %}">

{% endblock %}

{% block right_panel %}

	<div class = "content-panel-container column">
		{% include 'blocks/product_row.html' with label='All Vendors' items=vendors vendor=True %}
		{% include 'blocks/product_row.html' with label='All Products' items=products vendor=None %}
		{% include 'blocks/product_row.html' with label='Food' items=food vendor=None %}
	</div>

{% endblock %}

{% block js %}

	<script src = "{% static 'js/listings.js' %}"></script>

{% endblock %}