{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/with_side_panel.css' %}">

	{% block with_side_panel_css %}
	{% endblock %}

{% endblock %}

{% block left_base_panel %}
	
	{% block home_button %}
		
		<a href = "{% url 'core:index' %}">
			<div class = "left-panel-group back">
				<img src = "{% static 'img/icons/back-color-48.png' %}">
				<p class = "back-title">Back</p>
			</div>
		</a>
	
	{% endblock %}

	{% block left_panel %}
	{% endblock %}

{% endblock %}

{% block right_panel %}
{% endblock %}