{% extends 'dashboards/driver.html' %}

{% load staticfiles %}

{% block select_outstanding %} f{% endblock %}
{% block select_outstanding_img %}"{% static 'img/icons/home-48.png' %}"{% endblock %}
{% block select_current %}selected{% endblock %}
{% block select_current_img %}"{% static 'img/icons/drivers-filled-48.png' %}"{% endblock %}

{% block right_panel %}

	<div class = "right-panel-group content-panel-container">
		<div class = "header">
			<p class = "name">Current Deliveries</p>
		</div>
	<div class = "section table">
			<table class = "data-table">
				<tbody>
					<tr class = "header-row">
						<th>#</th>
						<th>Ordered</th>
						<th>Address</th>
						<th>Summary</th>
					</tr>
					
					{% for order in orders %}
						<tr>
							<td>{{ order.ref_code }}</td>
							<td>{{ order.ordered_date }}</td>
							<td>{{ order.shipping_address.street_address }}</td>
							<td>
								<a href = "{{ order.get_absolute_url }}">
									<button class="form-submit"  type="submit">View this order</button>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}