{% extends 'dashboards/driver.html' %}

{% load staticfiles %}

{% block title %}Current Deliveries{% endblock %}

{% block select_outstanding %}{% endblock %}
{% block select_current %}selected{% endblock %}

{% block right_panel %}

	<div class = "right-panel-group content-panel-container">
		<div class = "header">
			<p class = "name">Current Deliveries</p>
		</div>
	<div class = "section table">
			<table class = "data-table">
				<tbody>
					<tr class = "header-row">
						<th>#</th>
						<th>Ordered</th>
						<th>Address</th>
						<th>Summary</th>
					</tr>
					
					{% for order in orders %}
						<tr>
							<td>{{ order.ref_code }}</td>
							<td>{{ order.ordered_date }}</td>
							<td>{{ order.shipping_address.street_address }}</td>
							<td class = "action-col">
								<a href = "{% url 'dashboards:order' order.ref_code %}">
									<div class = "action view" title = "View">
										<img src = "{% static 'img/icons/eye-48.png' %}">
									</div>
								</a>
								<a href = "{% url 'core:set_delivered' order.ref_code %}">
									<div class = "action accept" title = "Mark Delivered">
										<img src = "{% static 'img/icons/check-48.png' %}">
									</div>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}