@font-face {
	font-family: Roboto-Thin;
	src: url(../font/roboto/Roboto-Thin.ttf);
}
@font-face {
	font-family: Roboto-Regular;
	src: url(../font/roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto-Medium;
	src: url(../font/roboto/Roboto-Medium.ttf);
}

:root{
	--safe: 100%;
	
	--nav-height: 80px;
	--left-panel-width: 275px;
	--content-container-width: calc(100vw - var(--left-panel-width) - var(--spacing) * 2);
	--left-panel-margin: 0px;
	--spacing: 40px;
	--content-container-spacing: var(--spacing);
	--left-panel-spacing: var(--spacing);
	
	--light-text: #676767;
	--dark-text: #404040;
	
	--primary: #BD20FF;
	--secondary: #404040;
	--light-red: #ff6b6b;
	--light-blue: cornflowerblue;
	
	--dark-text: #404040;
	--light-text: #8c8c8c;
	--price: #46b323;
}

*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f9f9f9;
	
	font-family: Roboto-Regular;
}

#nav{
	width: 100%;
	height: var(--nav-height);
	
	display: flex;
	
	position: fixed;
	top: 0;
	left: 0;
	
	background-color: white;
	
	border-bottom: 1px solid #ddd;
	
	box-sizing: border-box;
	
	z-index: 3;
}
#nav-left-panel{
	width: var(--left-panel-width);
	height: 100%;
	
	display: flex;
	align-items: center;
	
	box-sizing: border-box;
}
#nav-right-panel{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	
	padding: 0 var(--spacing);
	
	box-sizing: border-box;
}
#nav-mid{
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
#nav-right{
	display: flex;
	align-items: center;
}
#left-panel-expand{
	position: relative;
	top: 7px;

	margin-right: 10px;
	
	cursor: pointer;
}

.notification{
	width: 100%;
	
	display: flex;
	align-items: center;
	
	padding: 10px var(--dropdown-spacing);
	
	box-sizing: border-box;
	
	cursor: pointer;
}
.notification:hover{
	background-color: #f9f9f9;
}
.noti-left{
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
}
.noti-right{
	flex: 1;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	padding-right: var(--dropdown-spacing);
	
	box-sizing: border-box;
}
.noti-read{
	width: 8px;
	height: 8px;
	
	margin-right: var(--dropdown-spacing);
	
	border-radius: 100%;
	
	background-color: var(--primary);
	
	box-sizing: border-box;
}
.noti-read.read{
	background-color: #ccc;
}
.noti-text{
	font-size: 14px;
}
.noti-time{
	margin-top: 5px;
	
	font-size: 12px;
	color: var(--light-text);
}

#container{
	width: 100%;
	min-height: calc(100% - var(--nav-height));
	
	display: flex;
	justify-content: center;
	
	z-index: 2;
	
	box-sizing: border-box;
}

#nav-left-panel, #left-panel, #right-panel{
	padding-left: var(--spacing);
	padding-right: var(--spacing);
}
#left-panel, #right-panel{
	padding-bottom: calc(var(--spacing) / 2);
	
	transition: all .2s ease;
}
#right-panel{
	height: fit-content;
	
	margin-top: var(--nav-height);
}

#search-bar{
	width: 300px;
	height: 40px;
	
	display: flex;
	
	position: relative;
}
#search-icon{
	width: 40px;
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	top: 0;
	left: 0;
}
#search-bar img{
	width: auto;
	height: 24px;
}
#search{
	height: 100%;
	
	flex: 1;
	
	padding: 0 7px 0 50px;
	
	outline: none;
	border: none;
	
	box-sizing: border-box;
}
#search:focus{
	opacity: 1;
}
#search-submit{
	height: 100%;
	
	outline: none;
	border: none;
	
	padding: 0 10px;
	
	background-color: var(--primary);
	
	font-family: Roboto-Medium;
	font-size: 12px;
	color: white;
	
	cursor: pointer;
}

::placeholder{
	font-size: 14px;
	color: #aaa;
}

.nav-button{
	width: 32px;
	height: 32px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: relative;
	
	background-color: #ccc;
	
	border-radius: 100%;
	
	box-sizing: border-box;
	
	transition: all .1s ease;
	
	cursor: pointer;
}
.nav-button.open{
	background-color: var(--primary);
}
.nav-button img, #left-panel-expand{
	width: 22px;
	height: 22px;
}
.nav-button:hover{
	background-color: var(--primary);
}
.nav-button:not(:first-child){
	margin-left: 8px;
}
.nav-button a{
	display: flex;
	align-items: center;
	
	position: relative;
}
.item-count-badge{
	width: 5px;
	height: 5px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	top: -8px;
	right: -8px;
	
	padding: 6px;
	
	font-size: 10px;
	font-weight: bold;
	color: white;
	padding: 5px;
	
	background: var(--light-blue);
	
	border: 2px solid white;
	
	border-radius: 100%;
}
.user-button{
	width: 36px;
	height: 36px;
	
	margin-left: 12px !important;
	
	background-color: var(--primary);
}
.user-initial{
	font-family: Roboto-Medium;
	font-size: 14px;
	color: white;
}

.dropdown-container{
	--dropdown-spacing: 20px;
	
	width: 250px;
	max-height: 500px;
	
	display: none;
	flex-direction: column;
	
	position: absolute;
	top: calc(100% + 5px);
	right: 0;
	
	padding: var(--dropdown-spacing);
	
	background-color: white;
	
	border: 1px solid #ddd;
	
	box-shadow: 0 0 8px rgba(0, 0, 0, .1);
	
	box-sizing: border-box;
	
	overflow: hidden;
	overflow-y: auto;
	
	cursor: auto;
}
.dropdown-container .header{
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	margin-bottom: 10px;
	
	box-sizing: border-box;
}
.dropdown-container .header .title{
	font-family: Roboto-Medium;
	font-size: 18px;
	color: var(--dark-text);
}
.dropdown-container .header .link{
	font-size: 14px;
	
	cursor: pointer;
}
.dropdown-container .link p{
	font-family: Roboto-Regular;
	font-size: 14px !important;
}
.dropdown-container .left-panel-group{
	margin: 0 !important;
}

#notification-container .dropdown-container{
	width: 400px;
	
	padding-left: 0;
	padding-right: 0;
}
#notification-container .dropdown-container .header{
	padding-left: var(--dropdown-spacing);
	padding-right: var(--dropdown-spacing);
}

#user-info{
	width: 100%;
	
	display: flex;
	align-items: center;
	
	margin-bottom: 20px;
}
#user-info .user-button{
	width: 40px;
	height: 40px;
	
	margin-left: 0 !important;
}
#user-name{
	margin-left: 10px;
	
	font-family: Roboto-Medium;
	font-size: 16px;
	color: var(--dark-text);
}

#logout-form{
	cursor: pointer;
}

.cart-button{
	display: flex;
	align-items: center;
	justify-content: center;
	
	padding: 12px 24px;
	
	background-color: var(--light-blue);
	
	font-size: 12px;
	text-transform: uppercase;
	color: white;
}

#account-links{
	display: flex;
	align-items: baseline;
	
	margin-left: 15px;
}
#logout{
	outline: none;
	border: none;
	
	background-color: transparent;
	
	cursor: pointer;
}
#account-links, #logout{
	font-family: Roboto-Medium;
	font-size: 12px;
	color: var(--light-text);
	
	text-transform: uppercase;
}

.post{
	width: 600px;
	
	display: flex;
	flex-direction: column;
	
	padding: 20px;
	
	background-color: white;
	
	border: 1px solid #ddd;
	
	box-sizing: border-box;
}
.post:not(:first-child){
	margin-top: 20px;
}
.post-header{
	width: 100%;
	
	display: flex;
}
.post-vendor-image{
	width: 50px;
	height: 50px;
}
.post-info{
	display: flex;
	flex-direction: column;
	
	margin-left: 10px;
}
.post-vendor{
	font-family: Roboto-Medium;
	font-size: 18px;
}
.post-date{
	font-size: 12px;
	color: var(--light-text);
}
.post-text{
	margin-top: 10px;
}

.price{
	font-family: Roboto-Medium;
	color: var(--price);
}

.link{
	color: #3268ca !important;
}
.link.underline:hover{
	text-decoration: underline;
}
.shadow{
	box-shadow: 0 2px 8px #eee !important;
}
.divided{
	display: flex;
	justify-content: space-between;
}
.divided > div{
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.tags-container{
	display: flex;
	flex-wrap: nowrap;
}
.tag{
	display: flex;
	align-items: center;
	
	background-color: transparent;
	
	font-family: Roboto-Regular;
	font-size: 10px;
	text-transform: uppercase;
	color: var(--light-text);
}
.tag.hollow{
	background-color: white;
	
	border-width: 1px;
	border-style: solid;
}
.tag:not(:first-child){
	margin-left: 3px;
}
.tag:not(:first-child):before{
	content: '•';
	margin-right: 3px;
}

.form-group:not(:first-child){
	margin-top: 10px;
}
.form-field{
	width: 100%;
	
	display: flex;
	flex-direction: column;	
}
.form-field.row{
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.form-field.half{ width: 50%; }
.form-field.quarter{ width: 25%; }
.form-field.ten{ width: 10%; }
.form-field.fifteen{ width: 15%; }
.form-field.inline{
	align-items: center;
	flex-direction: row;
}
.field-label{
	font-family: Roboto-Medium;
	font-size: 14px;
	color: var(--dark-text);
}
.form-field.row .field-label{
	flex: 1;
}
.field-label:not(:first-child){
	margin-top: 10px;
}
.field-text{
	font-size: 14px;
	color: var(--dark-text);
}
.required{
	margin-left: -2px;
	
	color: red;
}
.field-inputs{
	width: 100%;
	
	display: flex;
	justify-content: space-between;
}
.form-field.row .field-inputs{
	flex: 3;
	
	margin-left: 20px;
}
.form-field.row .field-input:not(:first-child){
	margin-left: 20px;
}
.field-input{
	width: 100%;
	
	margin-top: 3px;
	padding: 7px;
	
	background-color: white;
	
	outline: none;
	border: 1px solid #ddd;
	
	box-sizing: border-box;
}
textarea.field-input{
	min-height: 150px;
	max-height: 400px;
	
	font-family: inherit;
	
	resize: vertical;
}
.field-input.half{ width: 50%; }
.field-input.quarter{ width: 25%; }
.field-input.ten{ width: 10%; }
.field-input.fifteen{ width: 15%; }
.field-input.half:not(:first-child){
	margin-left: 10px;
}
.field-input:focus{
	border-color: var(--primary);
}
.form-field label{
	margin-left: 3px;
}
.form-field:not(:first-child):not(#extra-options){
	margin-top: 15px;
}
.form-group .form-field:not(:first-child):not(#extra-options){
	margin-top: 5px;
}
.form-end{
	width: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 15px;
}
.form-end.start{ align-items: flex-start; }
.form-end.end{ align-items: flex-end; }
.form-options{
	display: flex;
	flex-direction: column;
	
	margin-top: 10px;
	
	font-size: 12px;
	color: var(--dark-text);
}
.form-submit{
	width: 100%;
	
	padding: 8px 16px;
	
	font-family: Roboto-Medium;
	font-size: 12px;
	color: white;
	
	text-transform: uppercase;
	
	outline: none;
	border: none;
	
	background-color: var(--primary);
	
	cursor: pointer;
	
	box-sizing: border-box;
}
.form-submit.small{
	width: auto;
}

a:visited, a:hover, a:link{
	text-decoration: none;
	color: inherit;
}

#button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }