@font-face {
	font-family: Roboto-Thin;
	src: url(../font/roboto/Roboto-Thin.ttf);
}
@font-face {
	font-family: Roboto-Regular;
	src: url(../font/roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto-Medium;
	src: url(../font/roboto/Roboto-Medium.ttf);
}

:root{
	--safe: 100%;
	
	--nav-height: 80px;
	--left-panel-width: 275px;
	--spacing: 40px;
	
	--light-text: #676767;
	--dark-text: #404040;
	
	--primary: #BD20FF;
	--secondary: #404040;
	--light-red: #ff6b6b;
	--light-blue: cornflowerblue;
	
	--dark-text: #404040;
	--light-text: #8c8c8c;
	--price: #46b323;
}

*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f9f9f9;
	
	font-family: Roboto-Regular;
}

#nav{
	width: 100%;
	height: var(--nav-height);
	
	display: flex;
	
	position: fixed;
	top: 0;
	left: 0;
	
	background-color: white;
	
	border-bottom: 1px solid #ddd;
	
	box-sizing: border-box;
	
	z-index: 3;
}
#nav-left-panel{
	width: var(--left-panel-width);
	height: 100%;
	
	display: flex;
	align-items: center;
	
	border-right: 1px solid #ddd;
	
	box-sizing: border-box;
}
#nav-right-panel{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	
	padding: 0 var(--spacing);
	
	box-sizing: border-box;
}
#nav-mid{
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
#nav-right{
	display: flex;
	align-items: center;
}
#user-info{
	margin-left: 15px;
	
	font-family: Roboto-Medium;
	font-size: 15px;
	color: var(--dark-text);
}

#container{
	width: 100%;
	min-height: calc(100% - var(--nav-height));
	
	display: flex;
	
	z-index: 2;
}

#nav-left-panel, #left-panel, #right-panel{
	padding-left: var(--spacing);
	padding-right: var(--spacing);
}
#left-panel, #right-panel{
	padding-bottom: var(--spacing);
}
#right-panel{
	height: fit-content;
	
	margin-top: var(--nav-height);
}

#search-bar{
	width: 300px;
	height: 40px;
	
	display: flex;
	
	position: relative;
}
#search-icon{
	width: 40px;
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	top: 0;
	left: 0;
}
#search-bar img{
	width: auto;
	height: 24px;
}
#search{
	height: 100%;
	
	flex: 1;
	
	padding: 0 7px 0 50px;
	
	outline: none;
	border: none;
	
	box-sizing: border-box;
}
#search:focus{
	opacity: 1;
}
#search-submit{
	height: 100%;
	
	outline: none;
	border: none;
	
	padding: 0 10px;
	
	background-color: var(--primary);
	
	font-family: Roboto-Medium;
	font-size: 12px;
	color: white;
	
	cursor: pointer;
}

::placeholder{
	font-size: 14px;
	color: #aaa;
}

.nav-button *{
	transition: all .1s ease;
}
.nav-button:hover img{
	filter: invert(.5);
}
.nav-button:not(:first-child){
	margin-left: 5px;
}
.nav-button a{
	display: flex;
	align-items: center;
}
.item-count-badge{
	position: relative;
	top: 5px;
	left: -2px;
	
	background: var(--light-red);
	
	font-size: 10px;
	font-weight: bold;
	color: white;
	
	padding: 1px 3px;
	
	border-radius: 3px;
}
.cart-button{
	display: flex;
	align-items: center;
	justify-content: center;
	
	padding: 12px 24px;
	
	background-color: var(--light-blue);
	
	font-size: 12px;
	text-transform: uppercase;
	color: white;
}
#account-links{
	display: flex;
	align-items: baseline;
	
	margin-left: 15px;
}
#logout{
	outline: none;
	border: none;
	
	background-color: transparent;
	
	cursor: pointer;
}
#account-links, #logout{
	font-family: Roboto-Medium;
	font-size: 12px;
	color: var(--light-text);
	
	text-transform: uppercase;
}

.post{
	width: 600px;
	
	display: flex;
	flex-direction: column;
	
	padding: 20px;
	
	background-color: white;
	
	border: 1px solid #ddd;
	
	box-sizing: border-box;
}
.post:not(:first-child){
	margin-top: 20px;
}
.post-header{
	width: 100%;
	
	display: flex;
}
.post-vendor-image{
	width: 50px;
	height: 50px;
}
.post-info{
	display: flex;
	flex-direction: column;
	
	margin-left: 10px;
}
.post-vendor{
	font-family: Roboto-Medium;
	font-size: 18px;
}
.post-date{
	font-size: 12px;
	color: var(--light-text);
}
.post-text{
	margin-top: 10px;
}

.price{
	font-family: Roboto-Medium;
	color: var(--price);
}

.link{
	color: #3268ca !important;
}
.link.underline:hover{
	text-decoration: underline;
}
.shadow{
	box-shadow: 0 2px 8px #eee !important;
}
.divided{
	display: flex;
	justify-content: space-between;
}
.divided > div{
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.tags-container{
	display: flex;
	flex-wrap: nowrap;
}
.tag{
	display: flex;
	align-items: center;
	
	background-color: transparent;
	
	font-family: Roboto-Regular;
	font-size: 10px;
	text-transform: uppercase;
	color: var(--light-text);
}
.tag.hollow{
	background-color: white;
	
	border-width: 1px;
	border-style: solid;
}
.tag:not(:first-child){
	margin-left: 3px;
}
.tag:not(:first-child):before{
	content: '•';
	margin-right: 3px;
}

.form-field{
	width: 100%;
	
	display: flex;
	flex-direction: column;	
}
.form-field.half{ width: 50%; }
.form-field.quarter{ width: 25%; }
.form-field.ten{ width: 10%; }
.form-field.fifteen{ width: 15%; }
.form-field.inline{
	align-items: center;
	flex-direction: row;
}
.field-label{
	font-size: 14px;
	color: var(--dark-text);
}
.field-label:not(:first-child){
	margin-top: 10px;
}
.field-text{
	font-size: 14px;
	color: var(--dark-text);
}
.required{
	margin-left: -2px;
	
	color: red;
}
.field-inputs{
	display: flex;
	justify-content: space-between;
}
.field-input{
	width: 100%;
	
	margin-top: 3px;
	padding: 7px;
	
	background-color: white;
	
	outline: none;
	border: 1px solid #ddd;
	
	box-sizing: border-box;
}
textarea.field-input{
	min-height: 150px;
	max-height: 400px;
	
	font-family: inherit;
	
	resize: vertical;
}
.field-input.half{ width: 50%; }
.field-input.quarter{ width: 25%; }
.field-input.ten{ width: 10%; }
.field-input.fifteen{ width: 15%; }
.field-input.half:not(:first-child){
	margin-left: 10px;
}
.field-input:focus{
	border-color: var(--primary);
}
.form-field label{
	margin-left: 3px;
}
.form-field:not(:first-child):not(#extra-options){
	margin-top: 15px;
}
.form-end{
	width: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 15px;
}
.form-options{
	display: flex;
	flex-direction: column;
	
	margin-top: 10px;
	
	font-size: 12px;
	color: var(--dark-text);
}
.form-submit{
	width: 100%;
	
	padding: 8px 16px;
	
	font-family: Roboto-Medium;
	font-size: 12px;
	color: white;
	
	text-transform: uppercase;
	
	outline: none;
	border: none;
	
	background-color: var(--primary);
	
	cursor: pointer;
	
	box-sizing: border-box;
}

a:visited, a:hover, a:link{
	text-decoration: none;
	color: inherit;
}