input::placeholder{
	color: var(--light-text);
}

.form-field:not(#payment-submit):not(.form-group.row .form-field):not(:first-child){ margin-top: 10px !important; }
.form-group.row .form-field:not(:first-child){ margin-top: 0 !important; }

#checkout-submit{
	padding-top: 12px;
	padding-bottom: 12px;
}

.price{
	font-family: Roboto-Regular;
	color: var(--dark-text);
}

.cart-items{
	display: flex;
	flex-direction: column;
}
hr{
	margin: 10px 0;
	
	border: none;
	border-top: 1px solid #ddd;
	
	box-sizing: border-box;
}
.cart-item, .coupon{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	
	margin: 4px 0;
}
.cart-item .item-details{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex: 1;
	
	margin-right: 10px;
}
.cart-item .quantity{
	font-family: Roboto-Medium;
	font-size: 14px;
}
.cart-item .title, .coupon{
	font-size: 14px;
}
.cart-item .price{
	color: var(--dark-text);
}
.cart-item .price, .coupon .amount, .cart-total .price{
	font-size: 14px;
}

.cart-coupons > .title{
	margin-bottom: 6px;
	
	font-family: Roboto-Medium;
	font-size: 12px;
}

.cart-total{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	
	font-family: Roboto-Medium;
}
.cart-total .price{
	font-family: Roboto-Medium;
}

#id_code{
	margin-top: 0;
	margin-right: 10px;
}