input::placeholder{
	color: var(--light-text);
}

.form-field:not(:first-child){ margin-top: 10px !important; }
.form-group.row .form-field:not(:first-child){ margin-top: 0 !important; }

.form-submit{
	padding-top: 12px;
	padding-bottom: 12px;
}