p{
	padding: 0;
	margin: 0;
}
#nav{
	width: 100%;
	
	padding: 15px 0 15px 0;
	
	background: white;
	
	border-bottom: 1px solid #ddd;
	
	box-sizing: border-box;
}
#nav .safe-div{
	height: 100%;
}
.nav-section{	
	
}

#nav-left{
	font-size: 22px;
	color: var(--primary);
}
#nav-right{
	display: flex;
	flex-direction: column;
}
.sub-section{
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#account-links{
	margin-bottom: 10px;
}
#logout{
	outline: none;
	border: none;
	
	background-color: transparent;
	
	cursor: pointer;
}
#account-links, #logout{
	font-family: Roboto-Medium;
	font-size: 12px;
	color: var(--light-text);
	
	text-transform: uppercase;
}

.nav-button:hover{
	opacity: .7;
}
.nav-button:not(:first-child){
	margin-left: 15px;
}
.nav-button a{
	display: flex;
	align-items: center;
}
#item-count-badge{
	position: relative;
	top: 5px;
	left: -2px;
	
	background: var(--light-red);
	
	font-size: 10px;
	font-weight: bold;
	color: white;
	
	padding: 1px 3px;
	
	border-radius: 3px;
}

#search-bar{
	width: 300px;
	height: 30px;
	
	display: flex;
	
	position: relative;
}
#search-icon{
	width: 30px;
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	top: 0;
	left: 0;
}
#search-bar img{
	width: auto;
	height: auto;
}
#search{
	height: 100%;
	
	flex: 1;
	
	padding: 0 7px 0 30px;
	
	outline: none;
	border: 1px solid #ddd;
	
	box-sizing: border-box;
}
#search:focus{
	opacity: 1;
}
#search-submit{
	height: 100%;
	
	outline: none;
	border: none;
	
	padding: 0 10px;
	
	background-color: var(--primary);
	
	font-family: Roboto-Medium;
	font-size: 12px;
	color: white;
	
	cursor: pointer;
}

::placeholder{
	font-size: 14px;
	color: #aaa;
}