.content-panel-container{
	flex-direction: column;
}

#search-bar-container{
	flex-direction: column;
}
#search-bar{
	width: 100%;
	
	border-bottom: 1px solid #ddd;
}

#search-details-container{
	width: 100%;
	
	display: flex;
	
	margin-top: var(--content-panel-spacing);
}

#filters-container{
	height: fit-content;
	
	flex: 1;
}

#results-container{
	flex: 3;
	
	margin: 0;
}